---
title: Gallery
file_prefix: pre
descriptions_as html: yes
tags: ???
---
{% for image in page.media.images %}
<div class="col_md_3">
    <div class="image">
    <img class="imgclass" src="{{ image.url }}">
    </div>

    <div class="description">
    {{ image.title }}
    </div>
</div>
{% endfor %}
